* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #9c835f;
  height: 100vh;
}



header {
  padding: 10px;
}

nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

nav  {
  padding: 10px 20px;
}

nav a.callBack {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #724c21;
}

nav h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  text-transform: uppercase;
  color: #f9b23d;
}

nav img {
  width: 72px;
  height: 72px;
}

.choice {
  padding: 30px;
}

.choice:hover {
  background: #c4c4c4;
  border-radius: 30px;
}




#playerChoices {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

#computerChoices {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}




#result{
  position: relative;
  bottom: 400px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  line-height: 196px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #bd0000;
  /*  */
}

#reset {
  position: relative;
  top: -200px;
}
