* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}



/* Navbar */

.navbar {
  padding: 1.4rem !important;
  background-color: rgba(1, 1, 1, 0.5);
  color: #fff !important;
}

.navbar-brand {
  font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 1.5rem !important;
  line-height: 2rem !important;
  letter-spacing: 0.1em;
}

.navbar a {
  font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  line-height: 1rem !important;
  letter-spacing: 0.1em !important;
  color: #fff;
}

/* Hero */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.hero h1 {
  margin-top: 40rem;
  font-size: 5rem;
  text-shadow: 1px 1px #333;
  text-transform: uppercase;
}

.hero h3 {
  margin-top: 4rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 2px;
}

.hero a {
  margin-top: 5rem;
  padding: 1rem 3rem;
  background-color: #ffb548;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #1a1917 !important;
}

.hero p {
  margin-top: 35rem;
  margin-bottom: 0;
  font-size: 0.8rem;
  justify-content: end;
  align-items: end;
}

.hero img {
  margin-bottom: 4rem;
}

/* Gameplay  Section */

#gameplay {
  min-height: 100vh;
  padding: 15rem 0;
  background-image: url('../img/the-games-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 0;
}

.gameplay-text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.gameplay-text h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 2px;
}

.gameplay-text h1 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 3px;
}

.carousel {
  padding: 0 2rem;
}

/* Features Section */

#features {
  min-height: 100vh;
  padding: 10rem 0;
  background-image: url('../img/features.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text-features {
  justify-content: center;
  align-items: center;
  mix-blend-mode: lighten;
}

.features h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 2px;
}

.features h1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.features h2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffb548 !important;
}

.features p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

/* Requirements Section */

.requirements {
  background-image: url('../img/requirements.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.requirements h6 {
  padding-top: 10rem;
  align-items: start;
  text-align: center;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: 2px;
}

.requirements h2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffb548 !important;
}

.requirements p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.requirements .table {
  margin-bottom: 10rem;
}

/* Top Score Section */

#topScore {
  background-image: url('../img/top-score-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  padding: 10rem 0;
}

.text-column {
  padding-top: 5rem;
  align-items: center !important;
}

.flex-column span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.2;
}
#topScore .review {
  width: 4rem !important;
  height: 4rem !important;
  border-radius: 50% !important;
  border: 4px solid orange !important;
}

/* Newsletter Section */

#newsletter {
  background-image: url('../img/newsletter.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.newsletter .container {
  padding: 10rem 0;
}

.newsletter img {
  max-width: 100%;
  height: auto;
}

/* footer */
#footer {
  margin-top: -8rem;
}

footer a {
  text-decoration: none !important;
  display: inline-block !important;
  margin: 0 0.5rem !important;
  font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  line-height: 1rem !important;
  letter-spacing: 0.1em !important;
}

.footer-link {
  margin: auto;
  text-decoration: none;
  color: #fff;
}

footer .footer2 {
  justify-content: space-between;
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
}
